target/
nb-configuration.xml
nbactions.xml
*.log

###########
# Eclipse #
###########
.project
.settings
.classpath
/.classpath
/.project
/.settings/
/bin/
.idea
*.iml
#########
# Maven #
#########
target
